body {
    overflow-x: hidden;
}

img {
	max-width: 100%;
}

.navigation img{
    max-width: 40px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.navigation .logo{
    display: inline-block;
    font-size: 1.4em;
    vertical-align: middle;
}

.footer .copyright:before {
    content: "© ";
}

.icon-wrap {
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 100%;
    overflow: hidden;
}

.demo-note {
    text-align: right;
}

.demo-note small{
    top: 50%;
    position: relative;
    height: fit-content;
    display: block;
    transform: translateY(-50%);
    color: #585858;
    font-style: italic;
}

.footer small,
.footer a {
    text-decoration: none;
    color: #929292;
}

.feature {
    position: relative;
    max-height: 250px;
    min-height: 250px;
    overflow: hidden;
}

.feature:before{
    content:"";
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000047;
    transition: background 0.3s ease;
    z-index: 2;
}

.feature h3,
.feature p{
    position: absolute;
    color: #fff;
    top: 50%;
    padding: 0 !important;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    z-index: 3;

}

.feature h3 {
    opacity: 1;
    font-size: 2.1em;
    transition: opacity 0.4s ease;
    
}

.feature p{
    opacity: 0;
    transition: opacity 0.4s ease;
}

.feature:hover p{
    opacity:1;
}

.feature:hover h3{
    opacity:0;
}

.feature:hover:before{
    background: #00000085;
}


.feature img{
    position: absolute;
    width: 101%;
    max-width: 120%;

    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.5s ease;
}

.feature:hover img{
    width: 120% !important;
    max-width: 120%;
}

@media screen and (max-width: 768px){
    .navigation .col-12 {
        text-align: center !important;
    }

    .navigation .demo-note {
        margin-bottom: 30px;
    }

    .header-section .w-50 {
        width: 90% !important;
        font-size: 0.9em;
    }

    .sub-header-section .w-50 {
        width: 80% !important;
        margin-top:30px;
        padding-bottom: 50px;
    }
}